ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(196, 192, 192);
 }
  
 li {
    float: left;
 }
  
 li a {
    display: block;
    color: floralwhite;
    text-align: center;
    padding: 14px 16px
    text-decoration: none;
 }
  
 li a:hover {
    background-color: ghostwhite;
 }
 p {text-align: center}
 p {text-align: left}
 img {width:20%}
 table, th, td {
    border: 1px solid black;
    border-collapse;
}
th, td {
    padding: 7px;
    text-align: left;
}
table {width:60%}
p {text-align:justify}